<h1><%= @place["name"] %> </h1>

<%
for place in places
  place = ["place"]["name"]
<% end %>
<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>
</p>
<p>
  <a href="/places">Back to All Places</a>
</p>
<p><%= button_to "Delete this company", @company, :method => "delete" %></p>